<footer>
    <div class="footer-image">
        <img src="{{ asset('images/vanilla-white.png') }}" width="119" alt="Vanilla" />
    </div>
    <div class="email-content">
        <span>example@email.com</span>
    </div>
</footer>