<header>
    <div class="go-menu">
        <a on="tap:sidebar.toggle">☰</a>
        <a href="{{ route('dashboard') }}" class="link-logo"><img src="{{ asset('images/go-logo.png') }}" alt="Welcome" width="69" height="430" /></a>
    </div>
    <div class="right-box">
        <span class="go-title">Administration Panel</span>
    </div>
</header>